* {box-sizing:border-box;}
ul {
    white-space: nowrap;
    list-style-type: none;
}
body {font-family: Verdana,sans-serif;}

.day {
    padding: 70px 25px;
    width: 100%;
    background: lightskyblue;
}

.day ul {
    margin: 0;
    padding: 0;
}

.day ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.day .prev {
    float: left;
    padding-top: 10px;
}

.day .next {
    float: right;
    padding-top: 10px;
}

.cal tr{
    width: 100%;
}

.tr {
    display: table-row;
    display: inline;
    width: 100%;
}

.td {
    float: left;
    display: table-column;
    border:1px solid;
    height: 30px;
}



#roomName {
    color: dodgerblue;
}

#booking {

    padding-left: 1px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#booking td {
    height: 100%;
}

#topRow {
    font-weight: bold;

}

#topRow .td:first-child{
    width:100px;
}

#bottomRow .td:first-child {
    width:100px;
}